<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="hashtag-share text-right"><span>SHARE USING</span>#INIT2019</h4>

                <h2 class="section-title">why attend init 2019</h2>

                <div class="row">
                    <div class="col-sm-6 offset-left">
                        <div class="why-text">
                            <p>
                                INIT 2019 is a unique opportunity to hear directly from 15 prominent
                                speakers from the development community and hear their thoughts on
                                the state and future of software development.
                            </p>
                            <p>
                                With two speaker tracks devoted to both veterans and software
                                industry newbies, INIT 2019 caters to all members of the community,
                                bringing them closer together for a day of learning and skill
                                building.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="about-list">
                            <li>
                                <h3><span>1</span> Connect</h3>
                                <p>
                                    Meet the software industry professionals from the city and
                                    beyond. Get connected, find jobs, or start new projects. INIT is
                                    primarily about YOU.
                                </p>
                            </li>
                            <li>
                                <h3><span>2</span> Learn</h3>
                                <p>
                                    Hear stories from industry veterans who've been there and done
                                    that. Improve your problem solving skills, get a new sense of
                                    direction for your career and upgrade your thinking.
                                </p>
                            </li>
                            <li>
                                <h3><span>3</span> Give Back</h3>
                                <p>
                                    INIT is non-profit and completely funded by donations. Buying a
                                    ticket is your way of showing support for our small but brave
                                    development community, and one little step towards building a
                                    brighter future.
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>

                <ul class="conf-stats">
                    <li class="accent-color"><span>1 </span> day</li>
                    <li class="brand-color"><span>15</span> speakers</li>
                    <li class="primary-color"><span>1</span> party</li>
                    <li class="secondary-color"><span>350</span> attendees</li>
                </ul>
            </div>
        </div>
    </div>
</section>
