<!--<section>
    <a id="agenda" class="anchor"></a>

    <h2>agenda</h2>

    <div class="row">
      <div class="col-4">
        Friday<br>
        November 2nd 2019<br>
        Banski Dvor
      </div>
      <div class="col">
        Doing business like this takes much more effort than doing your own business at home, and on top of that there's the curse of travelling.
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Main Stage</h3>

        <ul class="agenda-stage">
          <li>
            <h6>8:00am - 8:45am</h6>
            <h5>Registration</h5>
            <p>All must check-in</p>
          </li>
          <li>
            <h6>9:00am - 10:15am</h6>
            <h5>Opening Ceremony</h5>
            <p>With Honored Guests</p>
          </li>
          <li>
            <h6>10:20am - 10:45am</h6>
            <h5>Captain America</h5>
            <p>The Future of Laravel</p>
          </li>
          <li>
            <h6>10:50am - 11:30am</h6>
            <h5>Cat Woman</h5>
            <p>Continuous System Integration</p>
          </li>
          <li>
            <h6>11:35am - 12:45pm</h6>
            <h5>Gandalf the Grey</h5>
            <p>Building Systems for Flexibility</p>
          </li>
          <li>
            <h6>12:45pm - 1:45pm</h6>
            <h5>Lunch</h5>
            <p>Local Food, Burgers, Fish</p>
          </li>
          <li>
            <h6>2:00pm - 2:50pm</h6>
            <h5>Daredevil</h5>
            <p>Everything About Repositories</p>
          </li>
          <li>
            <h6>3:00pm - 3:45pm</h6>
            <h5>Professor Marvel</h5>
            <p>Security and Mental Health</p>
          </li>
          <li>
            <h6>4:00pm - 4:50pm</h6>
            <h5>Spider Man</h5>
            <p>All must check-in</p>
          </li>
          <li>
            <h6>5:00pm - 5:45pm</h6>
            <h5>Doctor Strange</h5>
            <p>Streaming at 250kbps</p>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3>Demo Stage</h3>

        <ul class="agenda-stage">
            <li>
              <h6>8:00am - 8:45am</h6>
              <h5>Registration</h5>
              <p>All must check-in</p>
            </li>
            <li>
              <h6>9:00am - 10:15am</h6>
              <h5>Opening Ceremony</h5>
              <p>With Honored Guests</p>
            </li>
            <li>
              <h6>10:20am - 10:45am</h6>
              <h5>Dr Doom</h5>
              <p>Automating Design and Development</p>
            </li>
            <li>
              <h6>10:50am - 11:30am</h6>
              <h5>Green Goblin</h5>
              <p>Things Developers Believe</p>
            </li>
            <li>
              <h6>11:35am - 12:45pm</h6>
              <h5>Magneto</h5>
              <p>Lights, Colors. Artwork</p>
            </li>
            <li>
              <h6>12:45pm - 1:45pm</h6>
              <h5>Lunch</h5>
              <p>Local Food, Burgers, Fish</p>
            </li>
            <li>
              <h6>2:00pm - 2:50pm</h6>
              <h5>Ultron</h5>
              <p>Serverless Servers</p>
            </li>
            <li>
              <h6>3:00pm - 3:45pm</h6>
              <h5>Baron Helmut Zemo</h5>
              <p>Coding in Prison</p>
            </li>
            <li>
              <h6>4:00pm - 4:50pm</h6>
              <h5>Juggernaut</h5>
              <p>Game Security and Computing</p>
            </li>
            <li>
              <h6>5:00pm - 5:45pm</h6>
              <h5>Sebastian Shaw</h5>
              <p>Machine Learning and Psychology</p>
            </li>
          </ul>
        </div>
    </div>
  </section>-->
