<section class="agenda-section" id="agenda">
  <div class="container">
    <div class="row">
        <div class="col">
            <h2 class="section-title">agenda</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 offset-left">
          <p class="agenda-details">Saturday<br>
          <span class="primary-color">November</span> <span style="color: #F5F0AD">2nd</span> <span class="brand-color">2019</span><br>
          <span class="accent-color">Banski Dvor</span></p>
        </div>
        <div class="col">
          <p>
              Hear stories from industry veterans who've been there and done that. Improve your problem solving skills,
              get a new sense of direction for your career and upgrade your thinking.
          </p>
        </div>
    </div>


    <div class="row agenda">
      <div class="col">
        <h3>Stage One</h3>

        <ul class="agenda-stage">
          <li>
            <h6>8:00 - 9:00</h6>
            <h5>Registration</h5>
          </li>
          <li>
            <h6>9:00 - 9:25</h6>
            <h5>Opening words</h5>
          </li>
          <li>
            <h6>9:30 - 10:15</h6>
            <h5>Deep learning advancements</h5>
            <p>Tomislav Bronzin & Arian Stipic</p>
          </li>
          <li>
            <h6>10:30 - 11:15</h6>
            <h5>Advanced databasing</h5>
            <p>Bogdan Kecman</p>
          </li>
          <li>
            <h6>11:30 - 12:15</h6>
            <h5>Cloud architectural patterns 101</h5>
            <p>Ivan Culjak</p>
          </li>
          <li>
            <h6>12:30 - 13:15</h6>
            <h5>TDD. Launch can not wait! Let's write tests.</h5>
            <p>Radomir Djokovic</p>
          </li>
          <li>
            <h6>13:30 - 14:30</h6>
            <h5>Lunch</h5>
          </li>
          <li>
            <h6>14:30 - 15:15</h6>
            <h5>The platform is dead, long live the platform</h5>
            <p>Luka Kladaric</p>
          </li>
          <li>
            <h6>15:30 - 16:15</h6>
            <h5>Agile development - are you really ready</h5>
            <p>Nenad Trajkovski</p>
          </li>
          <li>
            <h6>16:30 - 17:15</h6>
            <h5>Tale of Two Pizzas: Developer Tools @ AWS</h5>
            <p>Darko Mesaros</p>
          </li>
          <li>
            <h6>17:30 - 18:15</h6>
            <h5>Be nice, help the person who hacks your servers to get your data</h5>
            <p>Srdjan Vranac</p>
          </li>
          <li>
              <h6>18:30 - 19:00</h6>
              <h5>Closing Ceremony</h5>
            </li>
        </ul>
      </div>


      <div class="col">
        <h3>Stage Two</h3>

        <ul class="agenda-stage  agenda-stage--two">
            <li>
              <h6>10:30 - 11:15</h6>
              <h5>Machine Learning on the IoT Edge</h5>
              <p>Catalin Gheorghiu & Rastko Djordjevic</p>
            </li>
            <li>
              <h6>11:30 - 12:15</h6>
              <h5>Where to implement rendering in your JS app - CSR or SSR?</h5>
              <p>Dragan Lalos</p>
            </li>
            <li>
                <h6>12:30 - 13:15</h6>
                <h5>Learn blockchains by building one</h5>
                <p>Luka Gospodnetic</p>
            </li>
            <li>
              <h6>14:30 - 15:15</h6>
              <h5>Possibilities of functional design in C# 8</h5>
              <p>Zoran Horvat</p>
            </li>

            <li>
              <h6>15:30 - 16:15</h6>
              <h5>Micro Frontends - micro-services on the frontend</h5>
              <p>Ratko Cosic</p>
            </li>
            <li>
              <h6>16:30 - 17:15</h6>
              <h5>Rewrite or Refactor That Is the Question</h5>
              <p>Vladimir Jovanovic</p>
            </li>
            <li>
              <h6>17:30 - 18:15</h6>
              <h5>coding.starts_with('git commit');</h5>
              <p>Igor Roncevic</p>
            </li>
          </ul>
        </div>
    </div>
  </div>
  </section>
