<footer>
    <!--Subscribe Section-->
    {{ if .Site.Params.subscribe.enable }}
    {{ partial "subscribe.html" .}}
    {{ end }}

    <div id="contact" class="container footer-content">
        <div class="row">
            <div class="col">
                <a class="footer-logo" href="#"
                    ><img src="images/footer-logo.png"
                /></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <p class="brand-color">
                    Friday<br />November 2nd 2019.<br />Banski Dvor<br />Banja
                    Luka
                </p>
            </div>

            <div class="col-sm footer-nav">
                <a href="#">Buy Ticket</a><br />
                <a
                    target="_blank"
                    href="https://docs.google.com/presentation/d/1LOYNUSd_Mc7kE14PjPAM78g2H_fvf2sibsoSQWdq8vE"
                    >Become a Sponsor</a
                >
            </div>

            <div class="col-sm">
                <address>
                    <a href="tel:+38765439975 ">+387 65 439 975</a>
                    <a href="mailto:hello@initconf.org">info@initconf.org</a>
                </address>
            </div>

            <div class="col-sm">
                <p>&copy; 2019 init conference</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div></div>
    </div>
</footer>
