<footer>
  <h3>#INIT2019</h3>
  <div class="row">
    <div class="col-sm">
      Friday<br>
      November 2nd 2019.<br>
      Banski Dvor
    </div>
    <div class="col-sm">
      <a href="#">Buy Ticket</a><br>
      <a href="#">Become a Sponsor</a>
    </div>
    <div class="col-sm">
      <address>
        <a href="tel:+38765666999">+387 65 666 999</a>
        <a href="mailto:hello@initconf.org">hello@initconf.org</a>
      </address>
    </div>
    <div>
      &copy; 2019 init conference
    </div>
  </div>
</footer>
