<section class="hero">
    <!--Hero Content-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 hero__text reveal offset-md-1">
                <h1 class="hero__title">
                    Say <span class="primary-color">Hello World</span
                    ><br /><span class="secondary-color">in</span>
                    <span class="brand-color">person</span>
                </h1>
                <p>                   
                    INIT is a non-profit technology conference focused on developing 
                    a thriving software development community in Banja Luka and the region.
                    Organized by developers for developers, INIT is your chance to spend 
                    a day upgrading your skills and connecting with some incredibly talented people.
                </p>
                <p>
                    Join us on <b>November 2, 2019</b> in Banski Dvor, Banja Luka.
                </p>
                <button type="button" class="button button--pink">
                    Get your ticket
                </button>
            </div>
        </div>
    </div>

    <div class="container mobile-none">
        <a class="scroll scrollTo secondary-color offset-md-1" href="#about"
            >Scroll down</a
        >
    </div>
</section>
