<section>
  <div class="jumbotron">
    <h1>Say Hello World<br>in person</h1>
    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head.</p>
    <button type="button" class="btn btn-primary">
      Get your ticket
    </button>
  </div>

  <div>
    Scroll down
  </div>

  <div class="text-right">
    <div>Share using</div>
    <div>#INIT2019</div>
  </div>
</section>
