<section class="lineup-section" id="lineup">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">lineup</h2>
                <h3 class="lineup-section__subtitle offset-md-1">
                    17 Amazing Speakers
                </h3>
            </div>
        </div>

        <!--All Speakers-->
        <div class="all-speakers">
            <div class="row">
                <div class="col">
                    <div class="row">
                        {{range $index, $element := .Site.Params.speaker.item}}
                        <div class="col-sm-3">
                            <a
                            href="#"
                            data-toggle="modal"
                            data-target="#speaker{{ $index }}" class="speaker-box">
                                <img src="{{.img}}" />
                                <div class="speaker-box__details">
                                    <h5>{{.name}}</h5>
                                    <h6>{{.talk}}</h6>
                                    <span>Read more</span>
                                </div>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Speaker Details -->
{{range $index, $element := .Site.Params.speaker.item}}
<div
    class="modal speaker-modal fade"
    id="speaker{{ $index }}"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{.name}}<span>{{.title}}</span></h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{.img}}" />
                        </div>
                        <div class="col-sm-8">
                                <h3 class="modal-title">{{.talk}}</h3>{{.content | safeHTML}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button--pink" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{{ end }}
