<section class="lineup-section" id="lineup">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">lineup</h2>
                <h3 class="lineup-section__subtitle offset-md-1">
                    15 Amazing Speakers
                </h3>
            </div>
        </div>

        <!--All Speakers-->
        <div class="all-speakers">
            <div class="row">
                <div class="col">
                    <!--Speakers
          <div class="row">
            <div class="col-sm-3">
              <div class="speaker-box">
                <img src="images/person-1.jpg" />
                <div class="speaker-box__details">
                  <h5>Professor Marvel</h5>
                  <h6>Lead dev at Epic Games</h6>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="speaker-box">
                <img src="images/person-2.jpg"/>
                <div class="speaker-box__details">
                  <h5>Spider Man</h5>
                  <h6>CEO at Naked Truth INC</h6>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="speaker-box">
                <img src="images/person-1.jpg"/>
                <div class="speaker-box__details">
                  <h5>Daredevil</h5>
                  <h6>Software engineer at Google</h6>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="speaker-box">
                <img src="images/person-2.jpg"/>
                <div class="speaker-box__details">
                  <h5>Gandalf the Grey</h5>
                  <h6>Marketing Strategist at Information Systems </h6>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>

              <div class="col-sm-3">
                <div class="speaker-box">
                  <img src="images/person-2.jpg">
                  <div class="speaker-box__details">
                    <h5>Cat Woman</h5>
                    <h6>Lead dev at Epic Games</h6>
                    <a href="#">Read more</a>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-3">
                <div class="speaker-box">
                  <img src="images/person-1.jpg"/>
                  <div class="speaker-box__details">
                    <h5>Spider Man</h5>
                    <h6>CEO at Naked Truth INC</h6>
                    <a href="#">Read more</a>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-3">
                <div class="speaker-box">
                  <img src="images/person-2.jpg"/>
                  <div class="speaker-box__details">
                    <h5>Daredevil</h5>
                    <h6>Software engineer at Google</h6>
                    <a href="#">Read more</a>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-3">
                <div class="speaker-box">
                  <img src="images/person-1.jpg"/>
                  <div class="speaker-box__details">
                    <h5>This May Be You!</h5>
                  </div>
                </div>
              </div>
            </div>

            Speakers Call-->
                    <div class="row speakers-call">
                        <div class="offset-sm-3 col-sm-6">
                            <h3>Call for speakers!</h3>
                            <p>
                                If you feel the INIT conference wouldn't be the
                                same without you, drop us your application by
                                July 31st.
                            </p>
                            <button
                                type="button"
                                class="button button--blue"
                                onclick="window.open('https://sessionize.com/init-2019/','_blank')"
                            >
                                Speaker Application
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
