<div id="js--sticky-nav" class="nav-bar">
    <a class="nav-logo" href="https://initconf.org"><img src="/images/header-logo.png" /> </a>
    <!--Mobile Menu-->
    <a href="#" class="topNavBtn" id="mobileMenuOpener"><span></span></a>

    <nav class="top-nav" id="mobileMenu">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__item__link scrollTo" href="https://initconf.org/#about">About</a>
            </li>
            <li class="menu__item">
                <a class="menu__item__link scrollTo" href="https://initconf.org/#lineup">Lineup</a>
            </li>
            <!----		
            <li class="menu__item">
				<a class="menu__item__link scrollTo" href="https://initconf.org/#agenda">Agenda</a>
            </li> 
            -->
            <li class="menu__item">
                <a class="menu__item__link scrollTo" href="https://initconf.org/#venue">Venue</a>
            </li>
            <li class="menu__item">
                <a class="menu__item__link scrollTo" href="https://initconf.org/#sponsors"
                    >Sponsors</a
                >
            </li>
            <li class="menu__item">
                <a class="menu__item__link" href="https://initconf.org/jobs/">Jobs</a>
            </li>
            <li class="menu__item">
                <a class="menu__item__link scrollTo" href="https://initconf.org/#contact"
                    >Contact</a
                >
            </li>
        </ul>
        <a class="button-ticket" href="https://initconf.org/tickets/">TICKETS</a>
        <!--Social Networks-->
        <ul class="mobile-social">
            <li>
                <a target="_blank" href="https://github.com/init-conference"
                    ><img src="/images/social/gh.png "
                /></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/InitConfBL"
                    ><img src="/images/social/tw.png "
                /></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/initBL/"
                    ><img src="/images/social/fn.png "
                /></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/initconfbl/"
                    ><img src="/images/social/in.png "
                /></a>
            </li>
        </ul>
    </nav>
</div>
