<div class="nav-bar">
	<a class="nav-logo" href="#"><img src="/images/header-logo.png" /> </a>

	<nav class="top-nav">
		<ul class="menu">
			<li class="menu__item">
				<a class="menu__item__link" href="#about">About</a>
			</li>
			<li class="menu__item">
				<a class="menu__item__link" href="#lineup">Lineup</a>
			</li>
			<li class="menu__item">
				<a class="menu__item__link" href="#agenda">Agenda</a>
			</li>
			<li class="menu__item">
				<a class="menu__item__link" href="#venue">Venue</a>
			</li>
			<li class="menu__item">
				<a class="menu__item__link" href="#sponsors">Sponsors</a>
			</li>
			<li class="menu__item">
				<a class="menu__item__link" href="#contact">Contact</a>
			</li>
		</ul>
		<a class="button-ticket" href="">TICKETS</a>
	</nav>
</div>
