<section class="sponsors-section" id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col">
          <h2 class="section-title">sponsors</h2>
      </div>
    </div>

    <div class="row">
      <div class="col offset-md-1">
          <p class="">Doing business like this takes much more effort than<br />doing your own business at home, and on top of that<br />there's the curse of travelling.</p>
      
          <!--Sponsor Type-->
          <div class="sponsor-type">
              <!--Gold-->
              <h6>Gold</h6>
              <ul class="sponsor-list sponsor-list--gold">
                <li><img src="images/logo1.png" /></li>
                <li><img src="images/logo2.png" /></li>
              </ul>

              <!--Silver-->
              <h6>Silver</h6>
              <ul class="sponsor-list sponsor-list--silver">
                <li><img src="images/logo3.png" /></li>
                <li><img src="images/logo8.png" /></li>
                <li><img src="images/logo9.png" /></li>
                <li><img src="images/logo4.png" /></li>
                <li><img src="images/logo5.png" /></li>
                <li><img src="images/logo9.png" /></li>
                <li><img src="images/logo6.png" /></li>
                <li><img src="images/logo7.png" /></li>
                <li><img src="images/logo1.png" /></li>
                <li><img src="images/logo2.png" /></li>
              </ul>

          </div>

          <button type="button" class="button button--yellow">Become our sponsor</button>
      </div>
    </div>
    
  </div>


    

    <div class="row">
        <div class="col-4">
          
        </div>
      </div>

    <div class="row">
      <!-- TODO -->
    </div>

    
  </section>
