<section class="sponsors-section" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">sponsors</h2>
            </div>
        </div>

        <div class="row">
            <div class="col offset-md-1">
                <p class="sponsors-desc">
                    INIT is completely funded by donations. <br />We are grateful to our sponsors
                    and friends who are making the conference possible.
                </p>
                <button
                    type="button"
                    class="button button--yellow button--temporary button-sponsor-top"
                    onclick="window.open('https://docs.google.com/presentation/d/1LOYNUSd_Mc7kE14PjPAM78g2H_fvf2sibsoSQWdq8vE','_blank')"
                >
                    Become our sponsor
                </button>

                <div class="sponsor-type">
                    <h6>Platinum</h6>
                    <ul class="sponsor-list sponsor-list--platinum">
                        <li>
                            <img class="img-opacity" src="images/sponsors/your-logo-here.png" />
                        </li>
                    </ul>

                    <h6>Gold</h6>
                    <ul class="sponsor-list sponsor-list--gold">
                        <li>
                            <img class="img-opacity" src="images/sponsors/your-logo-here.png" />
                        </li>
                    </ul>

                    <h6>Activist</h6>
                    <ul class="sponsor-list sponsor-list--activist">
                        <li>
                            <a href="http://www.bay42.io" target="_blank"
                                ><img src="images/sponsors/bay42.png"
                            /></a>
                        </li>
                    </ul>

                    <h6>Supporters</h6>
                    <ul class="sponsor-list sponsor-list--supporter">
                        <li>
                            <a href="https://www.blc.edu.ba/" target="_blank"
                                ><img src="images/sponsors/logo_blc.png"
                            /></a>
                        </li>
                        <li>
                            <a href="https://seavus.com/" target="_blank"
                                ><img src="images/sponsors/logo_seavus.png"
                            /></a>
                        </li>
                        <li>
                            <a href="https://jsguru.io/" target="_blank"
                                ><img src="images/sponsors/logo_js_guru.png"
                            /></a>
                        </li>
                        <li><img src="images/sponsors/logo_netologija.png" /></li>
                        <li>
                            <a href="https://www.am2studio.hr" target="_blank"
                                ><img src="images/sponsors/am2logo.png" style="max-height:40px"
                            /></a>
                        </li>
                        <li>
                            <a href="https://www.dvcsolutions.com" target="_blank"
                                ><img
                                    src="images/sponsors/dvc.png"
                                    style="max-height:32px;margin-top:20px;"
                            /></a>
                        </li>
                    </ul>

                    <h6>Friends</h6>
                    <ul class="sponsor-list sponsor-list--friends">
                        <li>
                            <a href="https://www.lezibeg.com/" target="_blank"
                                ><img src="images/sponsors/lezibeg.png"
                            /></a>
                        </li>
                        <li>
                            <a href="https://omnescentar.com/" target="_blank">
                                <img src="images/sponsors/omnes.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://ba.coca-colahellenic.com/ba/" target="_blank">
                                <img src="images/sponsors/logo---CCHBC_B-H_Sarajevo-2.png" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.banjaluka.rs.ba" target="_blank"
                                ><img src="images/sponsors/bl-grb-mali-08-eng-right-lat-(1).png"
                            /></a>
                        </li>
                        <li>
                            <a href="http://www.krajinaklas.com" target="_blank"
                                ><img
                                    src="images/sponsors/krajina-klas.png"
                                    style="max-height:50px;"
                            /></a>
                        </li>
                        <li>
                            <a href="https://javacoffee.ba/" target="_blank"
                                ><img src="images/sponsors/logo-java.png" style="max-height:80px;"
                            /></a>
                        </li>
                        <li>
                            <a href="https://kafeterija5.com/" target="_blank"
                                ><img
                                    src="images/sponsors/logo-kafeterija5.png"
                                    style="max-height:90px;"
                            /></a>
                        </li>
                    </ul>
                </div>
                <button
                    type="button"
                    class="button button--yellow button--temporary"
                    onclick="window.open('https://docs.google.com/presentation/d/1LOYNUSd_Mc7kE14PjPAM78g2H_fvf2sibsoSQWdq8vE','_blank')"
                >
                    Become our sponsor
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
    </div>

    <div class="row">
        <!-- TODO -->
    </div>
</section>
