<section class="sponsors-section" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">sponsors</h2>
            </div>
        </div>

        <div class="row">
            <div class="col offset-md-1">
                <p class="">
                    INIT is completely funded by donations. We are grateful to our sponsors and
                    friends who are making the conference possible.
                </p>

                <div class="sponsor-type">
                    <!-- <h6>Gold</h6> -->
                    <ul class="sponsor-list sponsor-list--gold">
                        <li>
                            <a href="https://www.blc.edu.ba/" target="_blank"
                                ><img src="images/logo_blc.png"
                            /></a>
                        </li>
                        <li>
                            <a href="https://seavus.com/" target="_blank"
                                ><img src="images/logo_seavus.png"
                            /></a>
                        </li>
                        <li>
                            <a href="https://jsguru.io/" target="_blank"
                                ><img src="images/logo_js_guru.png"
                            /></a>
                        </li>
                        <li><img src="images/logo_netologija.png" /></li>
                        <li>
                            <a href="https://www.am2studio.hr" target="_blank"
                                ><img src="images/am2logo.png"
                            /></a>
                        </li>
                        <li>
                            <a href="http://www.bay42.io" target="_blank"
                                ><img src="images/bay42.png"
                            /></a>
                        </li>
                    </ul>

                    <!--
                    <h6>Silver</h6>
                    <ul class="sponsor-list sponsor-list--silver">
                        <li><img src="images/logo3.png" /></li>
                        <li><img src="images/logo8.png" /></li>
                        <li><img src="images/logo9.png" /></li>
                        <li><img src="images/logo4.png" /></li>
                        <li><img src="images/logo5.png" /></li>
                        <li><img src="images/logo9.png" /></li>
                        <li><img src="images/logo6.png" /></li>
                        <li><img src="images/logo7.png" /></li>
                        <li><img src="images/logo1.png" /></li>
                        <li><img src="images/logo2.png" /></li>
                    </ul>
                    -->
                </div>
                <button
                    type="button"
                    class="button button--yellow button--temporary"
                    onclick="window.open('https://docs.google.com/presentation/d/1LOYNUSd_Mc7kE14PjPAM78g2H_fvf2sibsoSQWdq8vE','_blank')"
                >
                    Become our sponsor
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
    </div>

    <div class="row">
        <!-- TODO -->
    </div>
</section>
