<section class="sbscribe-section">
  <div class="container">
    <div class="row">
      <div class="col offset-md-1">
          <h2 class="section-title mobile-only">Subscribe</h2>
        <p>
          {{ with .Site.Params.subscribe }}
          <!--<h2>{{ .title }}</h2>-->
          <p class="subscribe-intro">{{ .message | markdownify }}</p>
      
          <form action="https://initconf.us3.list-manage.com/subscribe/post?u=a81db3adf5c22016de4befb2c&amp;id=1ea8a34eb8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="form-inline subscribe-form">
            <input type="email" name="EMAIL" placeholder="{{ .email_placeholder }}" />
            <button type="submit" >{{ .button_text }}</button>
          </form>
          {{ end }}
        </p>
      </div>
    </div>
  </div>

  
</section>

