<section class="sbscribe-section">
  <div class="container">
    <div class="row">
      <div class="col offset-md-1">
          <h2 class="section-title mobile-only">Subscribe</h2>
        <p>
          {{ with .Site.Params.subscribe }}
          <!--<h2>{{ .title }}</h2>-->
          <p class="subscribe-intro">{{ .message | markdownify }}</p>
      
          <form class="form-inline subscribe-form" name="subscribe">
            <input type="email" placeholder="{{ .email_placeholder }}" />
            <button type="submit" >{{ .button_text }}</button>
          </form>
          {{ end }}
        </p>
      </div>
    </div>
  </div>

  
</section>

