<section class="venue-section" id="venue">
  <div class="container">
    <div class="row">
      <div class="col">
          <h2 class="section-title">venue</h2>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-5 offset-left">
          <p class="venue-section__details">Banski Dvor<br>
          <span class="primary-color">Trg Srpskih Vladara 2</span> <span class="accent-color">Banja Luka</span><br>
          <span class="brand-color">Bosnia and Herzegovina</span></p>
        </div>
        <div class="col">
          <p>
            Banski Dvor is one of the most beautiful historical buildings from the Austro-Hungarian era at the very heart of the city. 
            The building is close to all major hotels and city attractions, with plenty of restaurants around. Parking spots are available
            on several nearby locations.
          </p>
        </div>
    </div>

    <!--Venue Gallry-->
    <div class="venue-gallery">
      <div class="row">
        <div class="col-5 bottom-align">
          <img src="images/banski_dvor_1.jpg" />
        </div>
  
        <div class="col">
            <img src="images/map.jpg" />
          </div>
      </div>

      <div class="row">
        <div class="col-5 bottom-align">
          <img class="right" src="images/banski_dvor_3.jpg" />
        </div>
  
        <div class="col-3">
            <img src="images/banski_dvor_2.jpg" />
        </div>

        <div class="col">
            <img class="left" src="images/banski_dvor_4.jpg" />
        </div>
      </div>
    </div>

  </div>




  <div class="row">
    <!-- TODO -->
  </div>

</section>
