<section class="venue-section" id="venue">
  <div class="container">
    <div class="row">
      <div class="col">
          <h2 class="section-title">venue</h2>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-5 offset-left">
          <p class="venue-section__details">Banski Dvor<br>
          <span class="primary-color">Trg Srpskih Vladara 2</span> <span class="accent-color">Banja Luka</span><br>
          <span class="brand-color">Bosnia and Herzegovina</span></p>
        </div>
        <div class="col">
          <p>Doing business like this takes much more effort than<br />doing your own business at home, and on top of that<br />there's the curse of travelling.</p>
        </div>
    </div>

    <!--Venue Gallry-->
    <div class="venue-gallery">
      <div class="row">
        <div class="col-5 bottom-align">
          <img src="images/radisson.jpg" />
        </div>
  
        <div class="col">
            <img src="images/map.jpg" />
          </div>
      </div>

      <div class="row">
        <div class="col-5 bottom-align">
          <img class="right" src="images/venue3.jpg" />
        </div>
  
        <div class="col-3">
            <img src="images/venue4.png" />
        </div>

        <div class="col">
            <img class="left" src="images/venue3.jpg" />
        </div>
      </div>
    </div>

  </div>




  <div class="row">
    <!-- TODO -->
  </div>

</section>
