footer {
    background-image: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 150px;
    position: relative;
}

.footer-content {
    margin-top: 340px;
    color: #dfe0d5;
    a {
        color: #dfe0d5;
    }
    .footer-nav {
        a {
            color: $color_primary;
            text-decoration: underline;
        }
    }
}

.footer-logo {
    margin-bottom: 15px;
    display: inline-block;
}

.powered-call {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
}