<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <main class="main-content">
            {{ partial "nav.html" . }}
            <section class="jobs-section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="section-title">Jobs</h1>
                            <!--Job Accordion-->
                            <div class="job-accordion">
                                <!--Job Item-->
                                <div class="job-accordion__item">
                                    <div class="job-position row">
                                        <div class="col-sm-3"><img src="images/sponsors/am2logo.png" /></div>
                                        <div class="col"><h3>C++ software engineer</h3></div>
                                    </div>

                                    <div class="job-description">
                                        <p>We’re looking for an experienced C++ developer to join Snap Inc! As a member of our 
                                            Augmented Reality’s Core Team, you will help build SDKs and infrastructure which power
                                             creative experiences in Snapchat’s camera. The job is at the intersection of graphics, 
                                             computer vision, and software architecture. </p>


                                            <p>What you'll do:</p>

                                            <ul>
                                                <li>Design, architect and implement well-tested C++ software which 	powers</li>
                                                <li>Interact with design, interactive engineering, and product teams to shape product goals into software requirements</li>
                                                <li>Participate in design and code reviews</li>
                                            </ul>
                                                
                                            <p>Minimum qualifications:</p>
                                            
                                            <ul>
                                                <li>Bachelor's degree in computer science or related technical field</li>
                                                <li>2+ years of professional C++ software development experience (or demonstrable ability to pick up new languages and paradigms)</li>
                                                <li>Experience dealing with concurrent systems and architectures</li>
                                            </ul>
                                                
                                            <p>Posted Yesterday<br />Full time<br />R0009626</p>    
                                    </div>
                                </div>

                                <!--Job Item-->
                                <div class="job-accordion__item job-accordion__item--open">
                                    <div class="job-position row">
                                        <div class="col-sm-3"><img src="images/sponsors/bay42.png" /></div>
                                        <div class="col"><h3>Python Software Engineer</h3></div>
                                    </div>

                                    <div class="job-description">
                                        <p>We’re looking for an experienced C++ developer to join Snap Inc! As a member of our 
                                            Augmented Reality’s Core Team, you will help build SDKs and infrastructure which power
                                            creative experiences in Snapchat’s camera. The job is at the intersection of graphics, 
                                            computer vision, and software architecture. </p> 
                                    </div>
                                </div>

                            </div> <!-- End: Job Accordion-->

                        </div>
                    </div>
                </div>
            </section>
            

            {{ partial "footer.html" .}}
        </main>

        {{ partial "js.html" .}}
    </body>
</html>
