<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <main class="main-content">
            {{ partial "nav.html" . }}
            <section class="jobs-section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="section-title">Jobs</h1>
                            <!--Job Accordion-->
                            <div class="job-accordion">
                                <!--Job Item-->
                                <div class="job-accordion__item">
                                    <div class="job-position row">
                                        <div class="col-sm-3">
                                            <img src="/images/sponsors/bay42.png" />
                                        </div>
                                        <div class="col"><h3>Quality Assurance</h3></div>
                                    </div>

                                    <div class="job-description">
                                        <p>
                                            We are seeking a full-time, detail-oriented QA with
                                            great communication skills and previous experience in
                                            testing with Selenium or similar frameworks
                                        </p>
                                        <p>
                                            Responsibilities
                                        </p>
                                        <ul>
                                            <li>
                                                Create automated test scripts using tool such as
                                                Selenium
                                            </li>
                                            <li>Review and analyze system specifications</li>
                                            <li>Report bugs and errors to development teams</li>
                                            <li>Help troubleshoot issues</li>
                                            <li>
                                                Conduct post-release / post-implementation testing
                                            </li>
                                        </ul>
                                        <p>
                                            Requirements
                                        </p>
                                        <ul>
                                            <li>
                                                Experience in testing with Selenium or similar
                                                frameworks for testing web applications
                                            </li>
                                            <li>
                                                Familiarity with Agile testing frameworks and
                                                regression testing
                                            </li>
                                            <li>Ability to document and troubleshoot errors</li>
                                            <li>Excellent communication skills</li>
                                            <li>Attention to detail</li>
                                            <li>Analytical mind and problem-solving aptitude</li>
                                            <li>Strong organizational skills</li>
                                            <li>Ability to handle multiple tasks simultaneously</li>
                                        </ul>
                                        <p>
                                            Additional Skills
                                        </p>
                                        <ul>
                                            <li>
                                                Experience in writing automation test scripts using
                                                JUnit, PHPUnit, Unittest or similar testing
                                                frameworks
                                            </li>
                                        </ul>

                                        <p>What We Offer</p>
                                        <ul>
                                            <li>Competitive salaries</li>
                                            <li>Flexible working hours</li>
                                            <li>Team building events</li>
                                            <li>High end workstations</li>
                                            <li>Educational support</li>
                                            <li>Game room</li>
                                            <li>Kitchen with snacks and beverages</li>
                                        </ul>
                                        <p>
                                            <a
                                                target="_blank"
                                                href="http://www.bay42.io/career.html"
                                                >Sign up here!</a
                                            >
                                        </p>
                                    </div>
                                </div>

                                <!--Job Item-->
                                <div class="job-accordion__item">
                                    <div class="job-position row">
                                        <div class="col-sm-3">
                                            <img src="/images/sponsors/bay42.png" />
                                        </div>
                                        <div class="col"><h3>Front-End Intern</h3></div>
                                    </div>

                                    <div class="job-description">
                                        <p>
                                            We are seeking a front-end development intern with a
                                            fundamental understanding of full-cycle web development
                                            and passion for great design, user experience and site
                                            usability to join our team.
                                        </p>
                                        <p>
                                            Responsibilities
                                        </p>
                                        <ul>
                                            <li>
                                                Create functional, usable and great-looking
                                                interfaces
                                            </li>
                                            <li>
                                                Develop high quality applications that provide a
                                                delightful user experience.
                                            </li>
                                            <li>
                                                Ensure the technical feasibility of UI/UX designs
                                            </li>
                                            <li>
                                                Optimize application for maximum speed and
                                                scalability
                                            </li>
                                            <li>
                                                All designs to include compatibility for mobile
                                                devices
                                            </li>
                                            <li>
                                                Work with a designer to establish and refine visual
                                                elements
                                            </li>
                                        </ul>
                                        <p>
                                            Requirements
                                        </p>
                                        <ul>
                                            <li>
                                                Knowledge of HTML/CSS, including concepts like
                                                layout, specificity, cross browser compatibility,
                                                and accessibility
                                            </li>
                                            <li>
                                                Aim for excellence and attention to detail
                                            </li>
                                            <li>Strong collaboration and communication skills</li>
                                            <li>Passion towards Front End Development</li>
                                            <li>
                                                Curiosity for learning new technologies and methods
                                            </li>
                                        </ul>
                                        <p>
                                            Additional Skills
                                        </p>
                                        <ul>
                                            <li>
                                                Experience in JavaScript (jQuery, AngularJS, or
                                                similar JavaScript framework)
                                            </li>
                                            <li>
                                                Experience with open source CMSs like WordPress,
                                                Craft, etc.
                                            </li>
                                        </ul>

                                        <p>What We Offer</p>
                                        <ul>
                                            <li>Competitive salaries</li>
                                            <li>Flexible working hours</li>
                                            <li>Team building events</li>
                                            <li>High end workstations</li>
                                            <li>Educational support</li>
                                            <li>Game room</li>
                                            <li>Kitchen with snacks and beverages</li>
                                        </ul>
                                        <p>
                                            <a
                                                target="_blank"
                                                href="http://www.bay42.io/career.html"
                                                >Sign up here!</a
                                            >
                                        </p>
                                    </div>
                                </div>

                                <!--Job Item-->
                                <div class="job-accordion__item">
                                    <div class="job-position row">
                                        <div class="col-sm-3">
                                            <img src="/images/sponsors/bay42.png" />
                                        </div>
                                        <div class="col">
                                            <h3>Senior Backend Developer - PHP</h3>
                                        </div>
                                    </div>

                                    <div class="job-description">
                                        <p>
                                            Maintain and upgrade current platform written in PHP,
                                            and join us in rebuilding the existing platform in
                                            Golang. Primary focus for this position will be
                                            server-side logic for clients requests, improvements on
                                            log streaming infrastructure, speed up statistics
                                            aggregations and delivery, upgrade and improve current
                                            API for frontend application and clients API requests.
                                        </p>
                                        <p>
                                            Requirements
                                        </p>
                                        <ul>
                                            <li>
                                                4+ years working experience as backend developer in
                                                one of these languages: PHP, Golang, Python or Java
                                            </li>
                                            <li>Knowledge of Laravel PHP framework</li>
                                            <li>Knowledge of the Linux operating system</li>
                                            <li>Experience in MySQL database</li>
                                            <li>
                                                Experience with caching key-value databases (Redis
                                                is preferable, Memcache is ok)
                                            </li>
                                            <li>
                                                Basic knowledge of JavaScript frontend frameworks
                                                (Angular or React)
                                            </li>
                                            <li>
                                                Basic knowledge of Amazon Web Services (S3, RDS,
                                                ElastiCache)
                                            </li>
                                        </ul>
                                        <p>
                                            Responsibilities
                                        </p>
                                        <ul>
                                            <li>
                                                Maintain current code base written in PHP using
                                                Laravel Framework
                                            </li>
                                            <li>
                                                Working with service that serves over 1M req/min
                                            </li>
                                            <li>
                                                Rewriting and designing new infrastructure in Go
                                            </li>
                                        </ul>

                                        <p>What We Offer</p>
                                        <ul>
                                            <li>Competitive salaries</li>
                                            <li>Flexible working hours</li>
                                            <li>Team building events</li>
                                            <li>High end workstations</li>
                                            <li>Educational support</li>
                                            <li>Game room</li>
                                            <li>Kitchen with snacks and beverages</li>
                                        </ul>
                                        <p>
                                            <a
                                                target="_blank"
                                                href="http://www.bay42.io/career.html"
                                                >Sign up here!</a
                                            >
                                        </p>
                                    </div>
                                </div>

                                <!--Job Item-->
                                <div class="job-accordion__item">
                                    <div class="job-position row">
                                        <div class="col-sm-3">
                                            <img src="/images/sponsors/bay42.png" />
                                        </div>
                                        <div class="col">
                                            <h3>Senior Backend Developer - Python</h3>
                                        </div>
                                    </div>

                                    <div class="job-description">
                                        <p>
                                            Maintain and upgrade current platform written in Python,
                                            and join us in rebuilding the existing platform in
                                            Golang. Primary focus for this position will be
                                            server-side logic for serving ADs, ensuring high
                                            performance and high availability for high volume
                                            backend applications. Improvements on log streaming
                                            infrastructure, and speed up statistics aggregations and
                                            delivery.
                                        </p>
                                        <p>
                                            Requirements
                                        </p>
                                        <ul>
                                            <li>
                                                4+ years working experience as backend developer in
                                                one of these languages: PHP, Golang, Python or Java
                                            </li>
                                            <li>Strong knowledge of HTTP protocol</li>
                                            <li>Knowledge of the Linux operating system</li>
                                            <li>Experience in MySQL database</li>
                                            <li>
                                                Experience with caching key-value databases (Redis
                                                is preferable, Memcache is ok)
                                            </li>
                                            <li>
                                                Experience with asynchronous programming concepts
                                            </li>
                                            <li>
                                                Basic knowledge of message brokers (RabbitMQ, Kafka
                                                …)
                                            </li>
                                            <li>
                                                Basic knowledge of Amazon Web Services (S3, RDS,
                                                ElastiCache)
                                            </li>
                                        </ul>
                                        <p>
                                            Responsibilities
                                        </p>
                                        <ul>
                                            <li>
                                                Maintain current code base written in Python (using
                                                Tornado framework)
                                            </li>
                                            <li>
                                                Working with service that serves over 1M req/min
                                            </li>
                                            <li>
                                                Rewriting and designing new infrastructure in Go
                                            </li>
                                        </ul>

                                        <p>What We Offer</p>
                                        <ul>
                                            <li>Competitive salaries</li>
                                            <li>Flexible working hours</li>
                                            <li>Team building events</li>
                                            <li>High end workstations</li>
                                            <li>Educational support</li>
                                            <li>Game room</li>
                                            <li>Kitchen with snacks and beverages</li>
                                        </ul>
                                        <p>
                                            <a
                                                target="_blank"
                                                href="http://www.bay42.io/career.html"
                                                >Sign up here!</a
                                            >
                                        </p>
                                    </div>
                                </div>

                                <!--Job Item-->
                                <div class="job-accordion__item">
                                    <div class="job-position row">
                                        <div class="col-sm-3">
                                            <img src="/images/sponsors/am2logo.png" />
                                        </div>
                                        <div class="col"><h3>Python Software Engineer</h3></div>
                                    </div>

                                    <div class="job-description">
                                        <p>
                                            We’re looking for an experienced C++ developer to join
                                            Snap Inc! As a member of our Augmented Reality’s Core
                                            Team, you will help build SDKs and infrastructure which
                                            power creative experiences in Snapchat’s camera. The job
                                            is at the intersection of graphics, computer vision, and
                                            software architecture.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Job Accordion-->
                        </div>
                    </div>
                </div>
            </section>

            {{ partial "footer.html" .}}
        </main>

        {{ partial "js.html" .}}
    </body>
</html>
