<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <main class="main-content">
            {{ partial "nav.html" . }}
            <section class="jobs-section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="section-title">Team</h1>  
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/opti.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">The Real Cat</span>
                                <div class="team-member__social">
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/opti.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">The Real Cat</span>
                                <div class="team-member__social">
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/opti.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">The Real Cat</span>
                                <div class="team-member__social">
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/opti.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">The Real Cat</span>
                                <div class="team-member__social">
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>

            {{ partial "footer.html" .}}
        </main>

        
    </body>
</html>
