<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <main class="main-content">
            {{ partial "nav.html" . }}
            <section class="jobs-section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="section-title">Team</h1>  
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/1babac.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Mirko Babić</span>
                                <div class="team-member__social">
                                   <!-- <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/2sasa.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Saša Dreković</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/3goran.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Goran Jakovljević</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/4dragan.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Dragan Knežević</span>
                                <div class="team-member__social">
                                   
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/5zidoo.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Željko Mandić</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/6jelena.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Jelena Miodragovic</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/7nikola.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Nikola Novaković</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/9miroslav.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Miroslav Popović</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/10stela.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Stela Purić Jakovljević</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/8nenad.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Nenad Ponjević</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/11dado.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Daniel Savić</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="/images/team/12pero.jpg" />
                                <h4>Optimus</h4>
                                <span class="team-member__role">Petar Vuković</span>
                                <div class="team-member__social">
                                    
                                </div>
                            </div>    
                        </div>
                    </div>


                </div>
            </section>

            {{ partial "footer.html" .}}
        </main>

        
    </body>
</html>
