<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <main class="main-content">
            {{ partial "nav.html" . }}
            <section class="tickets-section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="ticket-desc">
                                <h1><span>#INIT2019</span> Tickets</h1>
                                <h3>
                                    Seize the opportunity and grab your <br />
                                    ticket for <span>only €40</span> until October 25th.<br /><br />
                                    For students, we have <span>special discount</span>,<br />
                                    contact us at <a href="mailto:info@initconf.org">info@initconf.org</a>.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="buy-ticket">
                                <script
                                    type="text/javascript"
                                    src="https://www.xing-events.com/resources/js/amiandoExport.js"
                                ></script>
                                <iframe
                                    src="https://EDVAWZM-modules.xing-events.com/EDVAWZM.html?viewType=iframe&distributionChannel=CHANNEL_IFRAME&language=en&useDefaults=false&resizeIFrame=true"
                                    frameborder="0"
                                    width="650px"
                                    id="_amiandoIFrame3789395"
                                    ><p>
                                        This page requires frame support. Please use a frame
                                        compatible browser to see the ticket sales module.
                                    </p></iframe
                                >
                                <p style="text-align:center;margin-top:30px;">
                                    Having a trouble with the form?
                                    <a
                                        target="_blank"
                                        href="https://edvawzm-modules.xing-events.com/INIT2019.html?viewType=screen"
                                        >Click here for the hosted version.</a
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{ partial "footer.html" .}}
        </main>

        {{ partial "js.html" .}}
    </body>
</html>
