<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <main class="main-content">
            {{ partial "nav.html" . }}
            <section class="tickets-section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="buy-ticket">
                                <script type="text/javascript" src="https://www.xing-events.com/resources/js/amiandoExport.js"></script>
                                <iframe src="https://EDVAWZM-modules.xing-events.com/EDVAWZM.html?viewType=iframe&distributionChannel=CHANNEL_IFRAME&language=en&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" id="_amiandoIFrame3789395"><p>This page requires frame support. Please use a frame compatible browser to see the ticket sales module.</p><p> Try out the <a href="https://en.xing-events.com/">online event registration system</a> from XING Events.</p></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{ partial "footer.html" .}}
        </main>

        {{ partial "js.html" .}}
    </body>
</html>
